<form>
	<div class="comparison">
		<div id="friendly-combatants">
			<h1>Friendly Combatants</h1>
			<ul></ul>
			<br />
		</div>
		<div id="hostile-combatants">
			<h1>Hostile Combatants</h1>
			<ul></ul>
			<br />
		</div>
	</div>
	<div class="summary">
		<div id="friendly-summary">
			<h2>Summary</h2>
		</div>
		<div id="hostile-summary">
			<h2>Summary</h2>
		</div>
	</div>
	<br />
	<div class="legend">
		<h2>Legend</h2>
		<span class="legend-item" id="legend-averagedamage">AvDmg: Average Damage for the entire row's attack, *not* taking into account chance to hit.</span>
		<span class="legend-item" id="legend-percenttohit">% Hit: Percent chance to hit/save against AC/saving throw.</span>
		<span class="legend-item" id="legend-chancetouse">% Use: Percent chance to use this attack. Applicable for stuff like Breath Weapon which recharges on 5-6.</span>
		<span class="legend-item" id="legend-expecteddamage">ExDmg: Expected Damage with percent to hit, area of effect (2 targets assumed for AOE), half damage on save taken into account.</span>
		<span class="legend-item" id="legend-enemyhp">Enemy HP: Current status of the above combatants enemies hit points.</span>
		<span class="legend-item" id="legend-roundstodown">Rounds to down: Number of rounds for the above combatants to down the other side's combatants with their current HP states.</span>
	</div>
</form>