<form>
	<h3 class="flexrow">Players in encounters</h3><hr/>
	<ul class="sortable-compendiums" id="player_filter">

	</ul>
	<h3 class="flexrow">Locations for encounters</h3><hr/>
	<ul class="sortable-compendiums" id="location_filter">

	</ul>
	<h3 class="flexrow">Sort & Filter Compendiums</h3><hr/>
	<button id="index-compendiums" class="index-compendiums"><i class="fas fa-dice"></i> Reindex compendiums</button>
	<ul class="sortable-compendiums" id="compendium_filter">

	</ul>
	<h3 class="flexrow">Filter Creature Types (local generation only)</h3><hr/>
	<ul class="sortable-compendiums" id="creature_filter">

	</ul>
</form>