<form>
	<div class="creature-codex-header">
		<h3 class="flexrow"><b>Creature Codex - Browse creatures in your compendiums by Type, CR, XP, Environment</b>
		<div class="creature-codex-header-buttons">
			<button class="btn filter-creatures" id="filter-creatures" title="Choose Creature Types"><i class="fas fa-skull"></i></button>
			<button class="btn filter-environments" id="filter-environments" title="Choose Environments"><i class="fas fa-tree"></i></button>
			<button class="btn filter-compendiums" id="filter-compendium" title="Filter Compendiums"><i class="fas fa-filter"></i></button>
			<button class="btn license-and-credits" id="license-and-credits" title="licensing & Credits"><i class="fas fa-info-circle"></i></button>
		</div>
		</h3>
	</div>
	<hr/>
	<div class="form-encounters">
		<div id="creatureCodex"></div>
	</div>
</form>