<form>
	<h3 class="flexrow">Filter Creature Types (local generation only)</h3><hr/>
	<button id="check-all" class="check-helper"></i>Check All</button>
	<button id="uncheck-all" class="check-helper"></i>Uncheck All</button>
	<button id="invert" class="check-helper"></i>Invert</button>
	<ul class="sortable-compendiums" id="creature_filter">
	</ul>
</form>