<form>
	<div class="form-controls">
		<div class="form-groups">
			I'm looking for an encounter (Type: 
			<span id="encounterTypeSpan" class="input-container">
				<span class="placeholder" id="encounterTypePlaceholder"></span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="encounterType" id="encounterTypeSelect">
					</select>
				</span>
			</span>
			) for 
			<span id="numberOfPlayers" class="input-container">
				<span class="placeholder">4</span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="numberOfPlayers">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4" selected>4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
					</select>
				</span>
			</span>
			players, who average around level 
			<span id="averageLevelOfPlayers" class="input-container">
				<span class="placeholder">5</span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="averageLevelOfPlayers">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5" selected>5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
					</select>
				</span>
			</span>. They will find  
			<span id="lootType" class="input-container">
				<span class="placeholder">Treasure Horde</span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="lootType">
						<option value="Individual Treasure">Individual Treasure</option>
						<option value="Treasure Horde" selected>Treasure Horde</option>
					</select>
				</span>
			</span>
		</div>
		<button id="generate-remote-encounters-button" class="generate-encounters"><i class="fas fa-dice"></i> Generate Encounters</button>
	</div>
	<div class="form-encounters">
		<div class="filter-controller">
			<select>
				<option value="all">All</option>
				<option value="favorited">Favorited</option>
			</select>
			<input id="search-box" type="text" spellcheck="false" placeholder="Start typing to filter Encounters">
			<button title="Clear search field" id="clear-button"><i class="fas fa-times"></i></button>
			<button class="filter-creatures" id="filter-creatures" title="Choose Creature Types"><i class="fas fa-skull"></i></button>
			<button class="filter-environments" id="filter-environments" title="Choose Environments"><i class="fas fa-tree"></i></button>
			<button class="filter-compendiums" id="filter-compendium" title="Filter Compendiums"><i class="fas fa-filter"></i></button>
			<button class="license-and-credits" id="license-and-credits" title="licensing & Credits"><i class="fas fa-info-circle"></i></button>
		</div>
		<div class="encounters">
			<ul></ul>
		</div>
	</div>
</form>