<form>
	<h3 class="flexrow" id="trait-title">Filter Traits</h3><hr/>
	<button id="check-all" class="check-helper"></i>Check All</button>
	<button id="uncheck-all" class="check-helper"></i>Uncheck All</button>
	<button id="invert" class="check-helper"></i>Invert</button>
	<div>
		Selection type:
		<input type="radio" id="selectionTypeAND" name="group1" value="AND">
			<label for="AND">AND</label>
		</input>
		<input type="radio" id="selectionTypeOR" name="group1" value="OR">
			<label for="OR">OR</label>
		</input>
	</div>
	<ul class="sortable-compendiums" id="trait_filter">
	</ul>
</form>