<form>
	<div class="form-controls">
		<div class="form-groups">
			I'm looking for an encounter (Type: 
			<span id="encounterTypeSpan" class="input-container">
				<span class="placeholder" id="encounterTypePlaceholder"></span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="encounterType" id="encounterTypeSelect">
					</select>
				</span>
			</span>
			) with a 
			<span id="creatureTypeVariationSpan" class="input-container">
				<span class="placeholder" id="creatureTypeVariationPlaceholder">Variety of</span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="creatureTypeVariation" id="creatureTypeVariationSelect">
						<option value="Variety of">Variety of</option>
						<option value="Single" selected>Single</option>
					</select>
				</span>
			</span> creature type(s). They will find 
			<span id="lootType" class="input-container">
				<span class="placeholder">Treasure Horde</span>
				<span class="input selectbox">
					<select class="fancy-select hidden" name="lootType">
						<option value="Individual Treasure">Individual Treasure</option>
						<option value="Treasure Horde" selected>Treasure Horde</option>
					</select>
				</span>
			</span>
			.
		</div>
		<button id="generate-remote-encounters-button" class="generate-encounters"><i class="fas fa-dice"></i> Generate Encounters</button>
	</div>
	<div class="form-encounters">
		<div class="filter-controller">
			<select>
				<option value="all">All</option>
				<option value="favorited">Favorited</option>
			</select>
			<input id="search-box" type="text" spellcheck="false" placeholder="Start typing to filter Encounters">
			<button title="Clear search field" id="clear-button"><i class="fas fa-times"></i></button>
			<button class="toolbar-button" id="filter-treasure" title="Choose Treasure Types"><i class="fas fa-treasure-chest"></i></button>
			<button class="toolbar-button" id="filter-creatures" title="Choose Creature Types"><i class="fas fa-skull"></i></button>
			<button class="toolbar-button" id="filter-environments" title="Choose Environments"><i class="fas fa-tree"></i></button>
			<button class="toolbar-button" id="filter-people" title="Choose PCs"><i class="fas fa-users"></i></button>
			<button class="toolbar-button" id="filter-compendium" title="Filter Compendiums"><i class="fas fa-filter"></i></button>
			<button class="toolbar-button" id="license-and-credits" title="Licensing & Credits"><i class="fas fa-info-circle"></i></button>
		</div>
		<div class="encounters">
			<ul></ul>
		</div>
	</div>
</form>